* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pra importar a fonte diferente pra pontuação, vida e etc */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

body {
    /* Deixa o fundo de toda a página preto */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    /* Borda opcional para ver onde o jogo termina */
    border: 1px solid #333; 
    
   /* Imagem do fundo da galaxia */
    background-image: url('./img/galaxiaanimada.gif'); 
    
    /* Faz a galáxia aparecer inteira sem esticar */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: black;
}